# Third-party published journal articles (copyright) - not for redistribution
/pdf/
14(4) 339-355 Wu.M Adams.RJ_Properties of Rasch Residual Fit Statistics.pdf
145_pdf.pdf
Johansson 2026 preprint - Simulation-based cutoffs for conditional item fit.pdf
